.grid-wrapper {
    border-radius: 6px;
    overflow: hidden;
    width: 500px;
    border: 2px solid white;
    box-shadow: 0 0 10px white,
                0 0 20px white;
  }
  
  .row {
    width: auto;
    height: auto;
    background: transparent;
    border: none;
    display: flex;
  }