.menu-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.menu-content {
    background: black;
    width: 60%;
    height: 70vh;
    border-radius: 6px;
    color: white;
    position: relative;
}

.new-player {
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 20px;
}

.user-list {
    list-style: none;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 20px;
}

.user-list li, .new-player {
    cursor: pointer;
}

.user-list li:hover {
    color: purple;
}

.new-player:hover {
    color: purple;
}

.choose-para {
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 6%;
}

.form-wrapper {
    position: absolute;
    bottom: 5%;
    top: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid white; */
}

.form-label {
    font-size: 3rem;
    /* padding: 20px; */
}

.form-input {
    font-size: 2.5rem;;
}

.play-button {
    font-size: 4rem;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    text-shadow: 
    0 0 10px purple,
    0 0 10px purple,
    0 0 10px purple,
    0 0 25px purple,
    0 0 40px purple;
    transition: text-shadow 400ms;
    font-family: 'Quicksand', sans-serif;    
    background: transparent;
    border: none;
    color: white;
}

.play-button:hover {
    text-shadow: 
    0 0 20px purple,
    0 0 20px purple,
    0 0 20px purple,
    0 0 50px purple,
    0 0 80px purple;
}