.stats-wrapper {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 10px;
}

.score-wrapper {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    padding-top: 20px;
}

.counter, .best-score {
    font-size: 1.2rem;
    font-family: 'Press Start 2P', cursive;    
}
  
.counter {
  padding-right: 20px;
}

.player-name-wrapper {
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
}

.player-name {
  color: green;
}