.stats-wrapper {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.counter, .high-score {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .counter {
    padding-right: 20px;
  }
  