* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-wrapper {
  background: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'Vampiro One', cursive;
  font-size: 4rem;
  margin-bottom: -50px;
}

