

.cell {
  width: 7vw;
  height: 7vw;
  background: blue;
  border: 2px solid black;
}

.row {
  width: auto;
  height: auto;
  background: transparent;
  border: none;
  display: flex;
}

.grid-wrapper {
  height: auto;
  display: inline-block;
  position: absolute;
  left: 33%;
  top: 20%;
}